{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% block body %}
    <form action="" method="post">
        <div class="body bg-gray">
            {{ eklerni.row(form.nom) }}
            {{ eklerni.row(form.description) }}
            {{ eklerni.row(form.niveau) }}
            {{ eklerni.row(form.difficulte) }}
            {{ eklerni.row(form.public) }}
            {{ form_widget(form._token) }}
            <h3>{{ form.questions.vars.label|trans() }}</h3>
            <div id="questions" data-prototype="{{ form_widget(form.questions.vars.prototype)|e }}" data-index="{{ form.questions.count }}">
                {% for question in form.questions %}
                    <div class="question">
                        {% if question.label is defined %}
                            {{ form_row(question.label) }}
                        {% endif %}
                        {% if question.mediaUrl is defined %}
                            {{ form_row(question.mediaUrl) }}
                        {% endif %}
                        {{ form_row(question.media) }}
                        {{ form_row(question.addreponse) }}
                        <div>
                            <div id="eklerni_serie_questions_{{ question.vars.name }}_reponses"
                                 data-prototype="{{ form_widget(question.reponses.vars.prototype)|e }}"
                                 data-index="{{ question.reponses.count }}"></div>
                            {% for reponse in question.reponses %}
                                <div>
                                    {% if reponse.label is defined %}
                                        {{ form_row(reponse.label) }}
                                    {% endif %}
                                    {% if reponse.mediaUrl is defined %}
                                        {{ form_row(reponse.mediaUrl) }}
                                    {% endif %}
                                    {{ form_row(reponse.media) }}
                                    {{ form_row(reponse.delete) }}
                                </div>
                            {% endfor %}
                        </div>
                        {{ form_row(question.delete) }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if form_error is defined and form_error is not null %}
            <div class="callout callout-danger">
                <h4>{{ form_error }}</h4>
            </div>
        {% endif %}
        <div class="footer">
            {{ eklerni.submit(form.valider) }}
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function(){
            var questionCollectionHolder = $('#questions');
            var addQuestionLink = $('<a href="#" class="add_question_link">Add a Question</a>');

            // Remove Title
            $("#eklerni_serie_questions").parent().remove();

            // Add Question Link
            questionCollectionHolder.prepend(addQuestionLink);
            addQuestionLink.on('click', function(e) {
                e.preventDefault();

                addQuestionForm();
            });

            $(".deleteQuestion").on("click", function(){
                $(this).closest(".question").remove();
            });
            $(".deleteReponse").on("click", function(){
                console.log("deleteR origin", $(this));
                $(this).parent().parent().remove();
            });
            $(".addReponse").on("click", function(){
                addReponseForm($(this));
            });


            function addQuestionForm() {
                var prototype = questionCollectionHolder.data('prototype');

                var index = questionCollectionHolder.data('index');

                var newQuestion = prototype.replace(/__question__/g, index);
                questionCollectionHolder.data('index', index + 1);

                var $newQuestionRow = $('<div></div>').attr('class', 'question').append(newQuestion);
                questionCollectionHolder.append($newQuestionRow);

                $newQuestionRow.find(".deleteQuestion").on("click", function(){
                    $(this).closest(".question").remove();
                });
                $newQuestionRow.find(".addReponse").on("click", function(){
                    addReponseForm($(this));
                });
            }

            function addReponseForm(addBtn) {
                var reponseCollectionHolder = $("#" + addBtn.attr('id').replace(/addreponse/g, "reponses"));

                var index = reponseCollectionHolder.data('index');
                if (typeof index === "undefined")
                    index = 0;

                var newReponse = $(reponseCollectionHolder.data('prototype').replace(/__reponse__/g, index));
                reponseCollectionHolder.data('index', index + 1);

                reponseCollectionHolder.parent().append(newReponse);

                newReponse.find(".deleteReponse").on("click", function(){
                    console.log("deleteR new", $(this));
                    $(this).parent().parent().remove();
                });
            }
        });
    </script>
{% endblock %}