{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% block body %}
    {% for matiere in matieres %}
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">{{ matiere.name }}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-danger btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                {% for activite in matiere.activites %}
                    <div class="box box-primary">
                        <div class="nav-tabs-custom">
                            <ul id="tabs" class="nav nav-tabs pull-right">
                                <li class="tab active">
                                    <a href="#tab_{{ matiere.id ~ '_' ~ activite.id }}_1" data-toggle="tab">Séries personnelles</a>
                                </li>
                                <li class="tab">
                                    <a href="#tab_{{ matiere.id ~'_'~ activite.id }}_2" data-toggle="tab">Séries publiques</a>
                                </li>
                                <li class="pull-left header">
                                    {{ activite.name }}
                                </li>
                                <div class="btn-group">
                                    <a class="btn-sm bg-blue" href="{{ path('eklerni_back_serie_create', { idActivite: activite.id }) }}">
                                        <i class="fa fa-plus"></i>
                                        Série
                                    </a>
                                </div>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_{{ matiere.id ~ '_' ~ activite.id }}_1">
                                    {% if activite.series is empty %}
                                        {{ "Il n'y a aucune <b>série personnelle</b> pour cette activité." }}
                                    {% else %}
                                        {% for serie in activite.series %}
                                            {% if not serie.public and serie.enseignant.id == app.user.id %}
                                                {{ serie.nom }} <br>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="tab-pane" id="tab_{{ matiere.id ~'_'~ activite.id }}_2">
                                    {% if activite.series is empty %}
                                        {{ "Il n'y a aucune <b>série publique</b> pour cette activité." }}
                                    {% else %}
                                        {% for serie in activite.series %}
                                            {% if serie.public %}
                                                {{ serie.nom }} <br>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(function () {
            $('#tabs li.tab').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
{% endblock %}