{% extends "EklerniBackBundle:Template:template.html.twig" %}

{#
    1. Info Série XXX
    2. Derniers Résultats
    3. Moyenne Série XXX
#}

{% set bodySerie %}
<table class="table">
    <tr>
        <td>{% trans %}matiere.text{% endtrans %}</td><td>{{ serie.activite.matiere.name }}</td>
    </tr>
    <tr>
        <td>{% trans %}activite.text{% endtrans %}</td><td>{{ serie.activite.name }}</td>
    </tr>
    <tr>
        <td>{% trans %}exercice.text{% endtrans %}</td><td>{{ serie.nom }}</td>
    </tr>
    <tr>
        <td>{% trans %}exercice.question.number{% endtrans %}</td><td>{{ serie.questions|length }}</td>
    </tr>
    <tr>
        <td>{% trans %}exercice.level{% endtrans %}</td><td>{{ serie.niveau }}</td>
    </tr>
    <tr>
        <td>{% trans %}exercice.difficulty{% endtrans %}</td><td>{{ serie.difficulte }}</td>
    </tr>
    <tr>
        <td>{% trans %}exercice.moyenne{% endtrans %}</td><td>{{ note|number_format }}%</td>
    </tr>
</table>
{% endset %}
{% set footerSerie %}
    <a href="{{ path ("eklerni_back_serie_modify", {idSerie: serie.id}) }}" class="btn btn-primary">
        {% trans %}url.modify.serie{% endtrans %}
    </a>
{% endset %}


{% if resultats|length > 0 %}
    {# TODO Trad #}
    {% set resultatbody %}
    <table class="table table-bordered">
        <tr>
            <th>{% trans %}classe.text{% endtrans %}</th>
            <th>Nom</th>
            <th>{% trans %}exercice.text{% endtrans %}</th>
            <th class="col-md-6"></th>
            <th>no{% trans %}note.text{% endtrans %}te</th>
        </tr>
        {% for resultat in resultats %}
            {% if resultat.note < 25 %}
                {% set typebar = "danger" %}
                {% set typecolor = "red" %}
            {% elseif resultat.note < 50 %}
                {% set typebar = "warning" %}
                {% set typecolor = "orange" %}
            {% elseif resultat.note < 75 %}
                {% set typebar = "primary" %}
                {% set typecolor = "light-blue" %}
            {% else %}
                {% set typebar = "success" %}
                {% set typecolor = "green" %}
            {% endif %}
            <tr>
                <td>
                    <a href="{{ path("eklerni_back_classe_fiche", {idClasse:resultat.eleve.classe.id}) }}">
                        {{ resultat.eleve.classe.nom }}
                    </a>
                </td>
                <td>
                    <a href="{{ path("eklerni_back_eleve_fiche", {idEleve:resultat.eleve.id}) }}">
                        {{ resultat.eleve.prenom }} {{ resultat.eleve.nom }}
                    </a>
                </td>
                {# TODO Lien Série #}
                <td>
                    <a href="{{ path("eklerni_back_serie_fiche", {idSerie:resultat.serie.id}) }}">
                        {{ resultat.serie.nom }}
                    </a>
                </td>
                <td>
                    <div class="progress xs">
                        <div class="progress-bar progress-bar-{{ typebar }}" style="width: {{ resultat.note|number_format }}%;"></div>
                    </div>
                </td>
                <td>
                    <span class="badge bg-{{ typecolor }}">{{ resultat.note|number_format }}%</span>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endset %}
{% else %}
    {% set resultatbody %}
        {% trans %}stats.no.result{% endtrans %}
    {% endset %}
{% endif %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            {% set infoList %}
                {% trans %}utils.info{% endtrans %}
            {% endset %}
            {{ eklerni.block(infoList, bodySerie, footerSerie, "primary") }}
        </div>
        <div class="col-md-8">
            {% set lastResultList %}
                {% trans %}stats.result.latest{% endtrans %}
            {% endset %}
            {{ eklerni.block(lastResultList, resultatbody, "", "primary") }}
        </div>
    </div>
{% endblock %}