{% extends "EklerniCASBundle:Template:template.html.twig" %}
{% import 'EklerniCASBundle:Template:macro.form.html.twig' as eklerni_cas %}

{% block stylesheets %}
    <link href="{{ asset('bundles/eklernicas/css/form.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="header">{{ title }}</div>

    <form action="{{ path('eklerni_cas_password_change') }}" method="post">
        <div class="body bg-gray">
            {{ eklerni_cas.row(form.username) }}
            {{ eklerni_cas.row(form.password) }}
            {{ eklerni_cas.row(form.newpassword.first) }}
            {{ eklerni_cas.row(form.newpassword.second) }}
            {{ form_widget(form._token) }}
        </div>
        {% if form_error is defined and form_error is not null %}
            <div class="callout callout-danger">
                <h4>{{ form_error }}</h4>
            </div>
        {% endif %}
        <div class="footer">
            {{ eklerni_cas.submit(form.valider) }}
        </div>
    </form>
{% endblock %}