{% extends "EklerniCASBundle:Template:template.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/eklernicas/css/form.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="header">{{ title }}</div>

    <form action="{{ path('eklerni_cas_profile') }}" enctype='multipart/form-data' method="post">
        <div class="body bg-gray">
            {{ eklerni_cas.row(form.username) }}
            {{ eklerni_cas.row(form.nom) }}
            {{ eklerni_cas.row(form.prenom) }}
            {{ eklerni_cas.row(form.email) }}
            {{ eklerni_cas.row(form.dateNaissance) }}
            {{ eklerni_cas.row(form.file) }}
            {{ form_widget(form._token) }}
        </div>
        <div class="footer">
            {{ eklerni_cas.submit(form.valider) }}
            <a href="{{ path("eklerni_cas_profile_redirect") }}"
               class="btn bg-red btn-block">{% trans %}utils.return{% endtrans %}</a>
        </div>
    </form>
{% endblock %}