<!DOCTYPE html>
<html lang="fr-Fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAS - {{ title }}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% stylesheets 'css/*' filter="cssrewrite" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>
<body class="bg-black">
    <section class="form-box" id="login-box">
        {% block body %}
        {% endblock %}
    </section>

    {% javascripts 'js/*' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% javascripts 'js/AdminLTE/*' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
</body>
</html>