{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% set serieTable %}
<div class="pre-scrollable">
    <table class="table">
        {% set tempNameMatiere = seriesProf[0].activite.matiere.name %}
        <tr class="matiere">
            <th>{{ tempNameMatiere }}</h4></th>
        </tr>
        <tr>
            <td>
                {% for serie in seriesProf %}
                {% if tempNameMatiere != serie.activite.matiere.name %}
                {% set tempNameMatiere = serie.activite.matiere.name %}
            </td>
        </tr>
        <tr class="matiere">
            <th>{{ tempNameMatiere }}</h4></th>
        </tr>
        <tr>
            <td>
                {% endif %}
                <div class="btn btn-sm btn-primary draggable {{ serie.activite.matiere.name }}" id="{{ serie.id }}">
                    <span class="badge">{{ serie.activite.name }}</span>
                    {{ serie.nom }}
                </div>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>
{% endset %}

{% set serieAttribuer %}
<h3>{% trans %}exercice.attribution.classe{% endtrans %}</h3>
<div class="nav-tabs-custom">
    <table class="table attribution classe">
        {% for classe in prof.classes %}
            <tr>
                <td>{{ classe.nom }}</td>
            </tr>
            <tr>
                <td>
                    <div id="classe-{{ classe.id }}"
                         class="droppable classe-{{ classe.id }}"
                         info="{% for matiere in classe.matieres %}.{{ matiere.name }}{% if not loop.last %}, {% endif %}{% endfor %}">

                        {% set attributions = attributionClasses[classe.id] %}
                        {% for attribution in attributions %}
                            {% set serie = attribution.serie %}
                            <div class="btn btn-sm btn-{% if attribution.isActive %}success{% else %}default{% endif %} draggable-delete {{ serie.activite.matiere.name }}"
                                 id="{{ serie.id }}">
                                <span class="badge">{{ serie.activite.name }}</span>
                                {{ serie.nom }}
                            </div>
                        {% endfor %}

                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<h3>{% trans %}exercice.attribute.eleve{% endtrans %}</h3>
{% for classe in prof.classes %}
    {% set background %}{% if loop.index is odd %}danger{% else %}primary{% endif %}{% endset %}
    <div id="{{ classe.id }}" class="box box-{{ background }}">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="pull-left header">Classe : {{ classe.nom }}</li>
            </ul>
            <table class="table attribution eleve">
                {% for eleve in classe.eleves %}
                    <tr>
                        <td>{{ eleve.nom }} {{ eleve.prenom }}</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="eleve-{{ eleve.id }}"
                                 class="droppable eleve"
                                 info="{% for matiere in eleve.classe.matieres %}.{{ matiere.name }}{% if not loop.last %}, {% endif %}{% endfor %}">
                                {% for attribution in eleve.listeAttribution %}
                                    {% if attribution.isClasse == false %}
                                        {% set serie = attribution.serie %}
                                        <div class="btn btn-sm btn-{% if attribution.isActive %}success{% else %}default{% endif %} draggable-delete {{ serie.activite.matiere.name }}"
                                             id="{{ serie.id }}">
                                            <span class="badge">{{ serie.activite.name }}</span>
                                            {{ serie.nom }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endfor %}
{% endset %}

{% set trashcontent %}
<div id="trash"></div>
{% endset %}

{% block body %}
    <div class="row">
        <div id="series" class="col-md-4">
            {% set serieList %}
                {% trans %}exercice.list{% endtrans %}
            {% endset %}
            {{ eklerni.block(serieList, serieTable, "", "primary") }}
            {% set binList %}
                {% trans %}utils.bin{% endtrans %}
            {% endset %}
            {{ eklerni.block(binList, trashcontent, "", "danger") }}
        </div>
        <div class="col-md-8">
            {% set attributionList %}
                {% trans %}exercice.attribution{% endtrans %}
            {% endset %}
            {{ eklerni.block(attributionList, serieAttribuer, "", "success") }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
    var dropParentElementRemove = null;
        $(document).ready(function () {
            init();
            $(".draggable").draggable({
                revert: true,
                helper: "clone"
            });

            /** Drop for Classe **/
            $(".classe .droppable").each(function () {
                var _this = this;
                $(this).droppable({
                    activeClass: "ui-state-default",
                    hoverClass: "ui-state-hover",
                    accept: $(_this).attr("info"),
                    drop: function (event, ui) {

                        var _this = this;
                        var isExist = false;
                        var idSerie = ui.draggable.attr("id");
                        var idClasse = this.id.split("-");
                        idClasse = idClasse[idClasse.length - 1];

                        $(this).find(".placeholder").remove();
                        $(this).children().each(function () {
                            if (this.id == idSerie) {
                                isExist = true;
                                return false;
                            }
                        });
                        if (!isExist) {
                            //Ajax addSerieClasse
                            $.ajax({
                                type: "POST",
                                url: "{{ path("eklerni_back_attribution_ajax_addSerieClasse") }}",
                                data: {"idClasse": idClasse, "idSerie": idSerie}
                            }).success(function () {
                                $("<div id=\"" + idSerie + "\" class=\"btn btn-default draggable-delete\"></div>").html(ui.draggable.html()).appendTo(_this);
                                displayMessage("success", "L'Exercice a bien été ajouté !");
                                init();
                            });
                        } else {
                            displayMessage("warning", "L'Exercice a déjà été donné !");
                        }
                    }
                });
            });

            /** Drop for Eleve **/
            $(".eleve .droppable").each(function () {
                var _this = this;
                $(this).droppable({
                    activeClass: "ui-state-default",
                    hoverClass: "ui-state-hover",
                    accept: $(_this).attr("info"),
                    drop: function (event, ui) {
                        var _this = this;
                        var isExist = false;
                        var isExistInClasse = false;
                        var idSerie = ui.draggable.attr("id");
                        var idEleve = this.id.split("-");
                        idEleve = idEleve[idEleve.length - 1];
                        var classe = $(this).parent().parent().parent().parent().parent().parent();

                        $("#classe-" + classe.attr("id")).children().each(function () {
                            if (this.id == idSerie) {
                                isExistInClasse = true;
                                return false;
                            }
                        });

                        $(this).find(".placeholder").remove();
                        $(this).children().each(function () {
                            if (this.id == idSerie) {
                                isExist = true;
                                return false;
                            }
                        });
                        if (isExist) {
                            displayMessage("warning", "L'Exercice a déjà été donné !");
                        } else if (isExistInClasse) {
                            displayMessage("warning", "L'Exercice a déjà été donné à la Classe !");
                        } else {
                            //Ajax addSerieEleve
                            $.ajax({
                                type: "POST",
                                url: "{{ path("eklerni_back_attribution_ajax_addSerieEleve") }}",
                                data: {"idEleve": idEleve, "idSerie": idSerie}
                            }).success(function () {
                                $("<div id=\"" + idSerie + "\" class=\"btn btn-default draggable-delete\"></div>").html(ui.draggable.html()).appendTo(_this);
                                displayMessage("success", "L'Exercice a bien été ajouté !");
                                init();
                            });
                        }
                    }
                });
            });

            /** Delete to Trash **/
            $("#trash").droppable({
                activeClass: "ui-state-default",
                hoverClass: "ui-state-hover",
                accept: ".draggable-delete.btn-default",
                drop: function (event, ui) {
                    //Ajax deleteSerie
                    var infos = dropParentElementRemove.attr("id").split("-");
                    //console.log(infos);
                    var postData = {};
                    postData.idSerie = ui.draggable.attr("id");
                    if(infos[0] == "classe") {
                        postData.idClasse = infos[1];
                    } else if (infos[0] == "eleve") {
                        postData.idEleve = infos[1];
                    }
                    //console.log(postData);

                    $.ajax({
                        type: "POST",
                        url: "{{ path("eklerni_back_attribution_ajax_deleteAttribution") }}",
                        data: postData
                    }).success(function () {
                        ui.draggable["context"].remove();
                        displayMessage("success", "L'Exercice a bien été supprimé !");
                    });
                }
            });

            var paddingSeries = parseInt($("#series").parent().parent().css("padding-top"));
            var topSeries = $("#series").offset().top - $("header").innerHeight() - paddingSeries;
            var size = $("#series").outerWidth();

            $(document).on("resize", function () {
                size = $("#series").outerWidth();
            });

            //console.log(topSeries, $("#series").offset().top - $("header").innerHeight(), $("header").innerHeight(), paddingSeries);
            $(window).on("scroll", function () {
                var windowTop = $(this).scrollTop();
                $
                if (topSeries <= windowTop) {
                    $("#series").css({
                        "position": "relative",
                        "top": windowTop - topSeries
                    })
                } else {
                    $("#series").css({
                        "position": "static",
                        "top": ""
                    })
                }
            });
        });

        function init() {
            $(".attribution .draggable-delete").unbind("draginit dragstart drag dragend");
            $(".attribution .draggable-delete").draggable({
                revert: true,
                start: function () {
                    $(".attribution .draggable-delete").off("click");
                    dropParentElementRemove = $(this).parent();
                    //console.log(dropParentElementRemove.attr("id"));
                },
                stop: function () {
                    init();
                }
            });
            $(".attribution .draggable-delete").off("click");
            $(".attribution .draggable-delete").on("click", function () {
                $(this).toggleClass("btn-success btn-default");

                var tab = $(this).parent().attr("id").split("-");
                var myData = {};
                myData.idSerie = this.id;
                myData.type = tab[0];
                myData.idType = tab[1];

                if ($(this).hasClass("btn-success")) {
                    myData.active = true;
                    //Ajax ActiverAttribution
                    $.ajax({
                        type: "POST",
                        url: "{{ path("eklerni_back_attribution_ajax_activerAttribution") }}",
                        data: myData
                    }).success(function () {
                        displayMessage("success", "L'Exercice a bien été activé !");
                    });

                } else if ($(this).hasClass("btn-default")) {
                    myData.active = false;
                    //Ajax DesactiverAttribution
                    $.ajax({
                        type: "POST",
                        url: "{{ path("eklerni_back_attribution_ajax_activerAttribution") }}",
                        data: myData
                    }).success(function () {
                        displayMessage("success", "L'Exercice a bien été désactivé !");
                    });
                }
                init();
            });

        }
    </script>
{% endblock %}