{% extends "EklerniCASBundle:Template:template.html.twig" %}
{% import 'EklerniCASBundle:Template:macro.form.html.twig' as eklerni_cas %}

{% block body %}
    {% if error is defined %}
        <div>{{ error.message }}</div>
    {% endif %}
    <div class="header">Registration</div>

    <form action="{{ path('eklerni_cas_register') }}" method="post">
        <div class="body bg-gray">
            {{ eklerni_cas.row(form.username) }}
            {{ eklerni_cas.row(form.password.first) }}
            {{ eklerni_cas.row(form.password.second) }}
            {{ eklerni_cas.row(form.nom) }}
            {{ eklerni_cas.row(form.prenom) }}
            {{ form_widget(form._token) }}
        </div>
        <div class="footer">
            {{ eklerni_cas.submit(form.valider) }}
        </div>
    </form>
{% endblock %}