{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% if classe.eleves|length > 0 %}
    {% set elevesTable %}
        <table class="table">
            {% for eleve in classe.eleves %}
                <tr>
                    <td><img alt="{% trans %}personne.picture{% endtrans %}" src="{{ asset(eleve.picture) }}"></td>
                    <td><a href="{{ path("eklerni_back_eleve_fiche", {idEleve:eleve.id}) }}">{{ eleve.nom }} {{ eleve.prenom }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endset %}
{% else %}
    {% set elevesTable %}
        Il n'y a pas d'eleve dans cette Classe.
    {% endset %}
{% endif %}
{% set footereleves %}
    <a href="{{ path("eklerni_back_eleve_ajouter", {idClasse:classe.id}) }}" class="btn btn-primary">{% trans %}btn.eleve.add{% endtrans %}</a>
{% endset %}

{% set profsTable %}
    <table class="table" id="profs">
        {% for prof in classe.enseignants %}
            <tr id="{{ prof.id }}">
                <td>
                    {% if prof.id != app.user.id %}
                        <a href="" title="Supprimer" class="delete right block"><button class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></a>
                        <span>{{ prof.nom }} {{ prof.prenom }}</span>
                    {% else %}
                        <span style="margin-left: 24px;">{{ prof.nom }} {{ prof.prenom }}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endset %}
{% set footerprofs %}
    <div class="input-group">
        <select id="add_prof" class="form-control">
            <option value=""></option>
            {% for prof in enseignants %}
                <option value="{{ prof.id }}">{{ prof.nom }} {{ prof.prenom }}</option>
            {% endfor %}
        </select>
        <div class="input-group-btn">
            <a href="" id="add_prof_link" class="btn btn-primary" disabled="disabled"><i class="fa fa-plus"></i></a>
        </div>
    </div>
{% endset %}

{% set matieresTables %}
    <table class="table" id="matieres">
        {% for matiere in matieres %}
            <tr id="{{ matiere.id }}" class="{% if matiere in classe.matieres %}bg-success{% else %}bg-danger{% endif %}" style="cursor: pointer;">
                <td>{{ matiere.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endset %}
{% set footermatieres %}
    <a href="#" id="matieres_link" class="btn btn-primary">{% trans %}utils.save{% endtrans %}</a>
{% endset %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            {% set eleveList %}
                {% trans %}eleve.list{% endtrans %}
            {% endset %}
            {{ eklerni.block(eleveList, elevesTable, footereleves, "primary") }}
        </div>
        <div class="col-md-4">
            {% set enseignantList %}
                {% trans %}enseignant.list{% endtrans %}
            {% endset %}
            {{ eklerni.block(enseignantList, profsTable, footerprofs, "primary") }}
        </div>
        <div class="col-md-4">
            {% set matiereText %}
                {% trans %}matiere.text{% endtrans %}
            {% endset %}
            {{ eklerni.block(matiereText, matieresTables, footermatieres, "primary") }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            init();
        });

        function init() {

            $("#add_prof").off("change");
            $("#add_prof").on("change", function () {
                if ($(this).val() == "") {
                    $("#add_prof_link").attr("disabled", "disabled");
                } else {
                    $("#add_prof_link").removeAttr("disabled");
                }
            });

            $("#add_prof_link").off("click");
            $("#add_prof_link").on("click", function (event) {
                event.preventDefault();
                var _this = this;

                $.ajax({
                    type: "POST",
                    url: "{{ path("eklerni_back_classe_ajax_add_enseignant", {idClasse:classe.id}) }}",
                    data: { idEnseignant: $("#add_prof").val() },
                    dataType: "json"
                }).success(function (data) {
                    if (data.success) {
                        $("#profs").append("<tr id='" + $("#add_prof").val() + "'><td>" +
                                "<a href=\"\" title=\"Supprimer\" class=\"delete right block\"><button class=\"btn btn-danger btn-xs\"><i class=\"fa fa-times\"></i></button></a>" +
                                "<span style='margin-left: 5px'>" + $("#add_prof option:selected").text() + "</span></td></tr>");
                        $("#add_prof option:selected").remove();

                        displayMessage("success", data.message);

                        $("#add_prof").val("");
                        $("#add_prof_link").attr("disabled", "disabled");
                        init();
                    } else {
                        displayMessage("danger", data.message);
                    }
                });
            });

            $("#matieres tr").off("click");
            $("#matieres tr").on("click", function () {
                $(this).toggleClass("bg-danger");
                $(this).toggleClass("bg-success");
            });

            $("#matieres_link").off("click");
            $("#matieres_link").on("click", function (event) {
                event.preventDefault();
                var matieres = [];
                $("#matieres tr.bg-success").each(function () {
                    matieres.push(this.id);
                });

                $.ajax({
                    type: "POST",
                    url: "{{ path("eklerni_back_classe_ajax_save_matieres", {idClasse: classe.id}) }}",
                    data: {"matieres": matieres},
                    dataType: "json"
                }).success(function (data) {
                    if (data.success) {
                        displayMessage("success", data.message);
                    } else {
                        displayMessage("danger", data.message);
                    }
                });
            });

            $("a.delete").off("click");
            $("a.delete").on("click", function(event) {
                event.preventDefault();
                var _this = this;
                var profs = [];
                $("#profs tr").each(function () {
                    if($(_this).parent().parent().attr("id") != this.id) {
                        profs.push(this.id);
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "{{ path("eklerni_back_classe_ajax_delete_enseignant", {idClasse: classe.id}) }}",
                    data: {"profs": profs},
                    dataType: "json"
                }).success(function (data) {
                    if (data.success) {
                        displayMessage("success", data.message);
                        $(_this).parent().parent().remove();
                    } else {
                        displayMessage("danger", data.message);
                    }
                });

            });
        }
    </script>
{% endblock %}