{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% if classe.eleves|length > 0 %}
    {% set elevesTable %}
    <table class="table">
        {% for eleve in classe.eleves %}
            <tr>
                <td><a href="{{ path("eklerni_back_eleve") }}">{{ eleve.nom }} {{ eleve.prenom }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {% endset %}
{% else %}
    {% set elevesTable %}
    Il n'y a pas d'eleve dans cette Classe.
    {% endset %}
{% endif %}
    {% set footereleves %}
<a href="{{ path("eklerni_back_classe_create_eleve", {idClasse:classe.id}) }}">
    <button class="btn btn-primary">Ajouter un Elève</button>
</a>
{% endset %}

    {% set profsTable %}
<table class="table" id="profs">
    {% for prof in classe.enseignants %}
        <tr>
            <td>{{ prof.nom }} {{ prof.prenom }}</td>
        </tr>
    {% endfor %}
</table>
{% endset %}
    {% set footerprofs %}
<div class="input-group">
    <select id="add_prof" class="form-control">
        <option value=""></option>
        {% for prof in enseignants %}
            <option value="{{ prof.id }}">{{ prof.nom }} {{ prof.prenom }}</option>
        {% endfor %}
    </select>

    <div class="input-group-btn">
        <a href="" id="add_prof_link" class="btn btn-danger" disabled="disabled"><i class="fa fa-plus"></i></a>
    </div>
</div>
{% endset %}

{% set matieresTables %}
<table class="table" id="matieres">
    {% for matiere in matieres %}
        <tr id="{{ matiere.id }}" class="{% if matiere in classe.matieres %}bg-success{% else %}bg-danger{% endif %}" style="cursor: pointer;">
            <td>{{ matiere.name }}</td>
        </tr>
    {% endfor %}
</table>
{% endset %}
{% set footermatieres %}
<a href="{{ path("eklerni_back_classe_create_eleve", {idClasse:classe.id}) }}" id="matieres_link">
    <button class="btn btn-primary">Enregistrer</button>
</a>

{% endset %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            {{ eklerni.block("Liste des Eleves", elevesTable, footereleves, "primary") }}
        </div>
        <div class="col-md-4">
            {{ eklerni.block("Liste des Enseignants", profsTable, footerprofs, "danger") }}
        </div>
        <div class="col-md-4">
            {{ eklerni.block("Matières", matieresTables, footermatieres, "primary") }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            $("#add_prof").on("change", function () {
                if ($(this).val() == "") {
                    $("#add_prof_link").attr("disabled", "disabled")
                } else {
                    $("#add_prof_link").removeAttr("disabled");
                }
            });
            $("#add_prof_link").on("click", function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "{{ path("eklerni_back_classe_ajax_add_enseignant", {idClasse:classe.id}) }}",
                    data: { idEnseignant: $("#add_prof").val() }
                }).success(function () {
                    $("#profs").append("<tr><td>" + $("#add_prof option:selected").text() + "</td></tr>");
                    $("#add_prof option:selected").remove();

                    displayMessage("success","Les permissions de <strong>l'Enseignant</strong> pour cette <strong>Classe</strong> ont bien été ajoutées !");

                    $("#add_prof").value("");
                });
            });
            $("#matieres tr").on("click", function () {
                $(this).toggleClass("bg-danger");
                $(this).toggleClass("bg-success");
            });
            $("#matieres_link").on("click", function (event) {
                event.preventDefault();
                var matieres = [];
                $("#matieres tr.bg-success").each(function() {
                    matieres.push(this.id);
                });

                $.ajax({
                    type: "POST",
                    url: "{{ path("eklerni_back_classe_ajax_save_matieres", {idClasse:classe.id}) }}",
                    data: {"matieres": matieres}
                }).success(function() {
                    displayMessage("success","L'enregistrement des <strong>Matières</strong> a réussi !");
                });
            });
        });
    </script>
{% endblock %}