{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% block body %}
    {% if classes|length > 0 %}
        <div class="box-body table-responsive">
            <div id="table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <table id="table" class="table table-bordered table-hover dataTable"
                       aria-describedby="table_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="table" rowspan="1"
                            colspan="1">
                            {% trans %}classe.id{% endtrans %}
                        </th>
                        <th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="table" rowspan="1"
                            colspan="1">
                            {% trans %}ecole.text{% endtrans %}
                        </th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="table" rowspan="1"
                            colspan="1">
                            {% trans %}classe.level{% endtrans %}
                        </th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="table" rowspan="1"
                            colspan="1">
                            {% trans %}classe.name{% endtrans %}
                        </th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="table" rowspan="1"
                            colspan="1">
                            {% trans %}classe.year{% endtrans %}
                        </th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="table" rowspan="1"
                            colspan="1">
                            {% trans %}classe.eleve.count{% endtrans %}
                        </th>
                        <th>
                            {% trans %}utils.tools{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    {% for classe in classes %}
                        <tr class="odd">
                            <td>{{ classe.id }}</td>
                            <td>{{ classe.ecole }}</td>
                            <td>
                                {{ classe.niveau }}</td>
                            <td class="sorting_1">
                                <a title="{% trans %}classe.view{% endtrans %}" href="{{ path("eklerni_back_classe_fiche", {idClasse: classe.id}) }}">{{ classe.nom }}</a>
                            </td>
                            <td>
                                {{ classe.annee }}
                            </td>
                            <td>
                               {{ classe.eleves|length }}
                            </td>
                            <td>
                                <a href="{{ path("eklerni_back_classe_update", { idClasse: classe.id }) }}" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> {% trans %}utils.modify{% endtrans %}</a>
                                <a href="{{ path("eklerni_back_classe_ajax_delete", { idClasse: classe.id }) }}" class="deleteClassBtn btn btn-danger btn-xs{% if classe.eleves|length > 0 %} disabled{% endif %}"><i class="fa fa-minus"></i> {% trans %}utils.delete{% endtrans %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    {% else %}
        <div class="box-body ">{% trans %}enseignant.no.classe{% endtrans %}!</div>
    {% endif %}

    <a href="{{ path("eklerni_back_classe_create") }}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans %}classe.text{% endtrans %}</a>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(function () {
            $('#table').dataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": false
            });

            $('.deleteClassBtn').on('click', function(event){
                event.preventDefault();
                var _this = this;

                $.ajax({
                    type: "POST",
                    url: $(_this).attr("href"),
                    dataType: "json"
                }).success(function (data) {
                    if (data.success) {
                        displayMessage("success", data.message);
                        $(_this).parent().parent().remove();
                    } else {
                        displayMessage("danger", data.message);
                    }
                });
            });
        });
    </script>

{% endblock %}
