{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% block body %}
    <form action="" method="post">
        <div class="body">
            {{ eklerni.row(form.nom) }}
            {{ eklerni.row(form.niveau) }}
            {{ eklerni.row(form.annee) }}
            {{ eklerni.row(form.ecole) }}
            {{ form_widget(form._token) }}
        </div>
        {% if form_error is defined and form_error is not null %}
            <div class="callout callout-danger">
                <h4>{{ form_error }}</h4>
            </div>
        {% endif %}
        <div class="footer">
            {{ eklerni.submit(form.valider) }}
        </div>
    </form>
{% endblock %}