{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% set dropDownEleve %}
    <div class="hidden" id="wrapperFormDropDownEleve">
        <form id="formDropDownEleve">
            <label for="selectDropDownEleve" class="hidden">{% trans %}eleve.switch{% endtrans %}</label>
            <select id="selectDropDownEleve">
                {% for pupil in elevesClasse %}
                    <option value="{{ pupil.id }}"{% if pupil.id == eleve.id %} selected="selected"{% endif %}>{{ pupil.getFullName }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
{% endset %}

{% set eleveTable %}
<div class="row">
    <div class="col-lg-4">
        <div class="img-crop img-md" style="background-image:url('{{ asset(eleve.picture) }}')"></div>
    </div>
    <div class="col-lg-8">
        <table class="table">
            <tr>
                <td>{% trans %}personne.lastname.colon{% endtrans %} {{ eleve.nom }}</td>
            </tr>
            <tr>
                <td>{% trans %}personne.firstname.colon{% endtrans %} {{ eleve.prenom }}</td>
            </tr>
            <tr>
                <td>
                    {% trans %}classe.name.colon{% endtrans %} <a href="{{ path("eklerni_back_classe_fiche", {idClasse:eleve.classe.id}) }}">{{ eleve.classe.nom }}</a>
                </td>
            </tr>
            <tr>
                <td>{% trans %}personne.birthdate.colon{% endtrans %} {{ eleve.dateNaissance|datelocale() }}</td>
            </tr>
        </table>
    </div>
</div>
{% endset %}
{% set footereleve %}
<a href="{{ path ("eklerni_back_eleve_modifier", {idEleve:eleve.id}) }}" class="btn btn-primary">{% trans %}url.modify.eleve{% endtrans %}</a>
{% endset %}


{% if resultats|length > 0 %}
    {% set resultatbody %}
    <table class="table table-bordered">
        <tr>
            <th>{% trans %}exercice.text{% endtrans %}</th>
            <th class="col-md-6"></th>
            <th>{% trans %}note.text{% endtrans %}</th>
        </tr>
        {% for resultat in resultats %}
            {% if resultat.note < 25 %}
                {% set typebar = "danger" %}
                {% set typecolor = "red" %}
            {% elseif resultat.note < 50 %}
                {% set typebar = "warning" %}
                {% set typecolor = "orange" %}
            {% elseif resultat.note < 75 %}
                {% set typebar = "primary" %}
                {% set typecolor = "light-blue" %}
            {% else %}
                {% set typebar = "success" %}
                {% set typecolor = "green" %}
            {% endif %}
            <tr>
                <td>
                    <a href="{{ path("eklerni_back_serie_fiche", {idSerie:resultat.serie.id}) }}">
                        {{ resultat.serie.nom }}
                    </a>
                </td>
                <td>
                    <div class="progress xs">
                        <div class="progress-bar progress-bar-{{ typebar }}" style="width: {{ resultat.note }}%;"></div>
                    </div>
                </td>
                <td>
                    <span class="badge bg-{{ typecolor }}">{{ resultat.note }}%</span>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endset %}
{% else %}
    {% set resultatbody %}
        {% trans %}stats.no.result{% endtrans %}
    {% endset %}
{% endif %}


{% if moyennes|length > 0 %}
    {% if moyennes|length == moyennesClasse|length %}
        {% set moyennesbody %}
            <div id="moyennes" style="min-width: 310px; max-width: 400px; height: 400px; margin: 0 auto"></div>
        {% endset %}
    {% else %}
        {% set moyennesbody %}
            {% trans %}eleve.noteinsuffisante{% endtrans %}
        {% endset %}
    {% endif %}
{% else %}
    {% set moyennesbody %}
        {% trans %}eleve.no.note{% endtrans %}
    {% endset %}
{% endif %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            {% set eleveList %}
                {% trans %}eleve.text{% endtrans %}
            {% endset %}
            {{ eklerni.block(eleveList, eleveTable, footereleve, "primary") }}
            {% set statMoyList %}
                {% trans %}stats.moyenne.matiere{% endtrans %}
            {% endset %}
            {{ eklerni.block(statMoyList, moyennesbody, "", "primary") }}
        </div>
        <div class="col-md-8">
            {% set latestStatList %}
                {% trans %}stats.result.latest{% endtrans %}
            {% endset %}
            {{ eklerni.block(latestStatList, resultatbody, "", "primary") }}
        </div>
    </div>
    {{ dropDownEleve }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            // Drop Down Eleve
            var header = $(".content-header");
            var dropDownEleve = $('#wrapperFormDropDownEleve');
            var selectDropDownEleve = $("#selectDropDownEleve");
            var btnDropDownEleve = $("#btnDropDownEleve");

            header.addClass("row");
            header.children("h1").addClass("col-md-8");
            dropDownEleve.removeClass("hidden");
            dropDownEleve.addClass("col-md-4");
            header.append(dropDownEleve);
            selectDropDownEleve.on("change", function(e){
                e.preventDefault();
                var url = "{{ path('eklerni_back_eleve_fiche', {idEleve: 0}) }}";
                window.location.assign(url.replace("0", $(this).val()));
            });



            var matieres = [];
            var notes = [];
            {% for moyenne in moyennes %}
                matieres[{{ (loop.index0/moyennes|length) * 360 }}] = "{{ moyenne[0].serie.activite.matiere.name }}";
                notes.push({{ moyenne["note"]|number_format }});
            {% endfor %}
            var notesClasse = [];
            {% for moyenne in moyennesClasse %}
                notesClasse.push({{ moyenne["note"]|number_format }});
            {% endfor %}

            {% if moyennes is not empty %}
                $('#moyennes').highcharts({
                    chart: {
                        polar: true
                    },
                    title: {
                        text: '{% trans %}stats.moyenne.matiere{% endtrans %}'
                    },
                    subtitle: {
                        text: '{{ eleve.prenom }} {{ eleve.nom }}'
                    },
                    pane: {
                        startAngle: 0,
                        endAngle: 360
                    },
                    xAxis: {
                        tickInterval: {{ (360 / moyennes|length)|number_format  }},
                        min: 0,
                        max: 360,
                        labels: {
                            formatter: function () {
                                return matieres[this.value];
                            },
                            overflow: 'justify'
                        }
                    },
                    yAxis: {
                        min: 0,
                        max: 100
                    },
                    plotOptions: {
                        series: {
                            pointStart: 0,
                            pointInterval: {{ (360 / moyennes|length)|number_format  }}
                        },
                        column: {
                            pointPadding: 0,
                            groupPadding: 0
                        }
                    },
                    series: [
                        {
                            type: 'area',
                            name: '{% trans %}stats.moyenne.eleve{% endtrans %}',
                            data: notes
                        },
                        {
                            type: 'line',
                            name: '{% trans %}stats.moyenne.classe{% endtrans %}',
                            data: notesClasse
                        }
                    ]
                });
            {% endif %}
        });
    </script>
{% endblock %}
