{% extends "EklerniBackBundle:Template:template.html.twig" %}

        {% set eleveTable %}
        <table class="table">
            <tr>
                <td>{% trans %}personne.lastname.colon{% endtrans %} {{ eleve.nom }}</td>
            </tr>
            <tr>
                <td>{% trans %}personne.firstname.colon{% endtrans %} {{ eleve.prenom }}</td>
            </tr>
            <tr>
                <td>
                    {% trans %}classe.name.colon{% endtrans %} <a href="{{ path("eklerni_back_classe_fiche", {idClasse:eleve.classe.id}) }}">{{ eleve.classe.nom }}</a>
                </td>
            </tr>
            <tr>
                <td>{% trans %}personne.birthdate.colon{% endtrans %} {{ eleve.dateNaissance|datelocale() }}</td>
            </tr>
        </table>
        {% endset %}
{% set footereleve %}
    <a href="{{ path ("eklerni_back_eleve_modifier", {idEleve:eleve.id}) }}" class="btn btn-primary">{% trans %}url.modify.eleve{% endtrans %}</a>
{% endset %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            {{ eklerni.block( "Eleve", eleveTable, footereleve, "primary") }}
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
{% endblock %}