{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% block body %}
    {% if classes|length > 0 %}
        <div class="row">

            <div class="col-md-12">
                {% set titleBlock = "" %}
                {% set contentBlock = "" %}
                {% for classe in classes %}
                    {% set titleBlock %}
                    {{ classe.nom }}
                    {% endset %}

                    {% set contentBlock %}
                    {% if classe.eleves|length > 0 %}
                        {% set header %}
                        <tr role="row">
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="table" rowspan="1"
                                colspan="1" aria-label="Rendering engine: activate to sort column ascending">Id
                            </th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="table" rowspan="1"
                                colspan="1" aria-label="Rendering engine: activate to sort column ascending">Nom
                            </th>
                        </tr>
                        {% endset %}
                        {% set content %}
                        {% for eleve in classe.eleves %}
                            <tr class="odd">
                                <td class="">{{ eleve.id }}</td>
                                <td class=""> <a href="{{ path("eklerni_back_eleve_fiche", {idEleve: eleve.id}) }}">{{ eleve.nom }} {{ eleve.prenom }}</a></td>
                            </tr>
                        {% endfor %}
                        {% endset %}

                        {{ eklerni.dataTable(header, content, "") }}
                    {% else %}
                        Il n'y a pas d'élève dans cette Classe !
                    {% endif %}
                    {% endset %}
                    {% if loop.index is odd %}
                        {{ eklerni.block(titleBlock, contentBlock, "", "danger") }}
                    {% else %}
                        {{ eklerni.block(titleBlock, contentBlock, "", "warning") }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="box-body ">Vous n'avez pas de classe et donc pas d'élève !</div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(function () {
            $('#table').dataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": false
            });
        });
    </script>

{% endblock %}
