{% extends "EklerniBackBundle:Template:template.html.twig" %}


{% if resultats|length > 0 %}
    {# TODO Trad #}
    {% set resultatbody %}
    <div class="box-body table-responsive">

        <div id="table_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <table id="table" class="table table-bordered table-hover dataTable" aria-describedby="table_info">
                <thead>
                <tr role="row">
                    {% if ( typechoisi >= 1 or typechoisi == null ) or moyennes == null %}
                        <th>{% trans %}classe.text{% endtrans %}</th>
                    {% endif %}
                    {% if (typechoisi >= 2 or typechoisi == null ) or moyennes == null %}
                        <th>{% trans %}eleve.text{% endtrans %}</th>
                    {% endif %}
                    {% if typerecherche >= 1 %}
                        <th>{% trans %}matiere.text{% endtrans %}</th>
                    {% endif %}
                    {% if typerecherche >= 2 or moyennes == null %}
                        <th>{% trans %}activite.text{% endtrans %}</th>
                    {% endif %}
                    {% if typerecherche >= 3 or moyennes == null %}
                        <th>{% trans %}serie.text{% endtrans %}</th>
                    {% endif %}
                    <th class="col-md-4 hidden-xs"></th>
                    <th>{% trans %}note.text{% endtrans %}</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                {% for resultat in resultats %}
                    {% if moyennes != null %}
                        {% set note = moyennes[resultat.id] %}
                    {% else %}
                        {% set note = resultat.note %}
                    {% endif %}
                    {% if note < 25 %}
                        {% set typebar = "danger" %}
                        {% set typecolor = "red" %}
                    {% elseif note < 50 %}
                        {% set typebar = "warning" %}
                        {% set typecolor = "orange" %}
                    {% elseif note < 75 %}
                        {% set typebar = "primary" %}
                        {% set typecolor = "light-blue" %}
                    {% else %}
                        {% set typebar = "success" %}
                        {% set typecolor = "green" %}
                    {% endif %}
                    <tr>
                        {% if ( typechoisi >= 1 or typechoisi == null ) or moyennes == null %}
                            <!-- CLASSE -->
                            <td>
                                <a href="{{ path("eklerni_back_classe_fiche", {idClasse:resultat.eleve.classe.id}) }}">
                                    {{ resultat.eleve.classe.nom }}
                                </a>
                            </td>
                        {% endif %}
                        {% if ( typechoisi >= 2 or typechoisi == null ) or moyennes == null %}
                            <!-- ELEVE -->
                            <td>
                                <a href="{{ path("eklerni_back_eleve_fiche", {idEleve:resultat.eleve.id}) }}">
                                    {{ resultat.eleve.prenom }} {{ resultat.eleve.nom }}
                                </a>
                            </td>
                        {% endif %}
                        {% if typerecherche >= 1 %}
                            <!-- MATIERE -->
                            {# TODO Lien Série #}
                            <td>{{ resultat.serie.activite.matiere.name }}</td>
                        {% endif %}
                        {% if typerecherche >= 2 or moyennes == null %}
                            <!-- ACTIVITE -->
                            <td>{{ resultat.serie.activite.name }}</td>
                        {% endif %}
                        {% if typerecherche >= 3 or moyennes == null %}
                            <!-- NOM -->
                            <td>
                                <a href="{{ path("eklerni_back_serie_fiche", {idSerie:resultat.serie.id}) }}">
                                    {{ resultat.serie.nom }}
                                </a>
                            </td>
                        {% endif %}
                        <td class="hidden-xs">
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-{{ typebar }}" style="width: {{ note }}%;"></div>
                            </div>
                        </td>
                        <td>
                            <span class="badge bg-{{ typecolor }}">{{ note }}%</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endset %}
{% else %}
    {% set resultatbody %}
    Il n'y a pas de résutlat disponnible.
    {% endset %}
{% endif %}

{% block body %}
    {% set formbody %}
    <form action="" method="post">
        <div class="body">
            {{ eklerni.row(form.classe) }}
            {{ eklerni.row(form.eleve) }}
            <hr>
            {{ eklerni.row(form.matiere) }}
            {{ eklerni.row(form.activite) }}
            {{ eklerni.row(form.serie) }}
            <hr>
            {{ eklerni.row(form.limit) }}
            {{ eklerni.row(form.moyenne) }}
            {{ eklerni.row(form.istest) }}
            {# {{ eklerni.row(form.datedebut) }}#}

            {{ form_widget(form._token) }}
        </div>
        <div class="footer">
            {{ eklerni.submit(form.valider) }}
        </div>
    </form>
    {% endset %}

    <div class="row">
        <div class="col-md-3">
            {% set statList %}
                {% trans %}statistique.generator{% endtrans %}
            {% endset %}
            {{ eklerni.block(statList, formbody, "", "primary") }}
        </div>
        <div class="col-md-9">
            {% set resultList %}
                {% trans %}resultat.list{% endtrans %}
            {% endset %}
            {{ eklerni.block(resultList, resultatbody, "", "primary") }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(function () {

            $('#table').dataTable({
                "bSort": true
                /*"columnDefs": [
                 {
                 "targets": [5],
                 "orderable": false,
                 "searchable": false
                 }
                 ]*/
            });
        });
    </script>
{% endblock %}