<header class="header">
    <a href="{{ path("eklerni_back_homepage") }}" class="logo">Eklerni</a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button" title="{% trans %}btn.navigation.toogle{% endtrans %}">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
            {% if app.user %}
                <li><img alt="{% trans %}personne.picture{% endtrans %}" class="img-circle img-header" src="{{ asset(app.user.picture) }}"></li>
                <li><a href="{{ path("eklerni_cas_profile") }}">{{ app.user.nom }} {{ app.user.prenom }}</a></li>
                <li><a href="{{ path("eklerni_cas_logout") }}"><i class="fa fa-power-off"></i> {% trans %}btn.logout{% endtrans %}</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
</header>