<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img alt="{% trans %}personne.picture{% endtrans %}" class="img-circle img-header" src="{{ asset(app.user.picture) }}">
            </div>
            <div class="pull-left info">
                <p>{% trans with {'%name%': app.user.prenom } %}Hello, %name%{% endtrans %}</p>

                <a href="{{ path("eklerni_cas_logout") }}"><i class="fa fa-power-off"></i> {% trans %}btn.logout{% endtrans %}</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="bg-red">
                <a href="{{ path("eklerni_back_classe") }}">
                    <i class="fa fa-cloud"></i><span>{% trans %}sidebar.classes{% endtrans %}</span>
                </a>
            </li>
            <li class="bg-orange">
                <a href="{{ path("eklerni_back_eleve") }}">
                    <i class="fa fa-male"></i><span>{% trans %}sidebar.students{% endtrans %}</span>
                </a>
            </li>
            <li class="bg-yellow">
                <a href="{{ path("eklerni_back_exercice") }}">
                    <i class="fa fa-list"></i><span>{% trans %}sidebar.exercices{% endtrans %}</span>
                </a>
            </li>
            <li class="bg-green">
                <a href="{{ path("eklerni_back_attribution") }}">
                    <i class="fa fa-sitemap"></i><span>{% trans %}sidebar.exercices.attribute{% endtrans %}</span>
                </a>
            </li>
            <li class="bg-light-blue">
                <a href="{{ path("eklerni_back_statistiques") }}">
                    <i class="fa fa-bar-chart-o"></i><span>{% trans %}sidebar.statistics{% endtrans %}</span>
                </a>
            </li>
            {% if is_granted('ROLE_DIRECTEUR') %}
            <li class="bg-navy">
                <a href="{{ path("eklerni_back_direction") }}">
                    <i class="fa fa-briefcase"></i><span>{% trans %}sidebar.direction{% endtrans %}</span>
                </a>
            </li>
            {% endif %}
            <li class="bg-purple">
                <a href="{{ path("eklerni_back_tablet") }}">
                    <i class="fa fa-tablet"></i><span>{% trans %}sidebar.tablet{% endtrans %}</span>
                </a>
            </li>
        </ul>
        <div id="messages">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-dismissable alert-success" style="display: block; opacity: 1; margin-top: 0px;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-dismissable alert-danger" style="display: block; opacity: 1; margin-top: 0px;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </section>
</aside>