<!DOCTYPE html>
<html lang="fr-Fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}{% endblock %}
    {% stylesheets 'css/*' filter="cssrewrite" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    <link href="{{ asset("css/eklerni.back.css")}}" type="text/css" rel="stylesheet"/>
</head>
<body class="skin-black pace-done fixed">
{% import 'EklerniBackBundle:Template:macro.html.twig' as eklerni %}
{% include 'EklerniBackBundle:Template:header.html.twig' %}
<div class="wrapper row-offcanvas row-offcanvas-left">
    {% include 'EklerniBackBundle:Template:sidebar.html.twig' %}
    <aside class="right-side">
        <section class="content-header">
            <h1>{{ title }}</h1>
        </section>
        <section class="content">
            {% block body %}
            {% endblock %}
        </section>
    </aside>
</div>
{% include '::javascript.html.twig' %}
<!-- Global Eklerni JS -->
<script src="{{ asset("js/eklerni.back.js") }}" type="text/javascript"></script>
<script src="{{ asset("js/global.js") }}" type="text/javascript"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
