{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% if eleves|length > 0 %}
    {% set elevesTable %}
    <table class="table">
        <tr>
            <th>{% trans %}personne.name{% endtrans %}</th>
            <th>{% trans %}classe.text{% endtrans %}</th>
        </tr>
        {% for eleve in eleves %}
            <tr>
                <td><a href="{{ path("eklerni_back_eleve_fiche", {idEleve:eleve.id}) }}">{{ eleve.nom }} {{ eleve.prenom }}</a></td>
                <td><a href="{{ path("eklerni_back_classe_fiche", {idClasse:eleve.classe.id}) }}">{{ eleve.classe.nom }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {% endset %}
{% else %}
    {% set elevesTable %}
        {% trans %}classe.no.eleve{% endtrans %}
    {% endset %}
{% endif %}

{% if enseignant.classes|length > 0 %}
    {% set classesTable %}
    <table class="table" id="profs">
        <tr>
            <th>{% trans %}classe.name{% endtrans %}</th>
            <th>{% trans %}classe.level{% endtrans %}</th>
            <th>{% trans %}classe.eleve.count{% endtrans %}</th>
        </tr>
        {% for classe in enseignant.classes %}
            <tr>
                <td>
                    <a href="{{ path("eklerni_back_classe_fiche", {idClasse:classe.id}) }}">{{ classe.nom }}</a>
                </td>
                <td>
                    {{ classe.niveau }}
                </td>
                <td>
                    {{ classe.eleves|length }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endset %}
{% else %}
    {% set classesTable %}
        {% trans %}enseignant.no.eleve{% endtrans %}
    {% endset %}
{% endif %}
{% set footerclasses %}
<a href="{{ path("eklerni_back_classe_create") }}" id="add_class_link" class="btn btn-danger"><i class="fa fa-plus"> {% trans %}classe.text{% endtrans %}</i></a>
<a href="{{ path("eklerni_back_classe_create_ecole") }}" id="add_ecole_link" class="btn btn-danger"><i class="fa fa-plus"> {% trans %}ecole.text{% endtrans %}</i></a>
{% endset %}
    {% block body %}
        <div class="row">
            <div class="col-md-4">
                {% set classList %}
                    {% trans %}classe.list{% endtrans %}
                {% endset %}
                {{ eklerni.block(classList, classesTable, footerclasses, "danger") }}
                {% set eleveList %}
                    {% trans %}eleve.list{% endtrans %}
                {% endset %}
                {{ eklerni.block(eleveList, elevesTable, "", "primary") }}
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>

    {% endblock %}