{% extends "EklerniBackBundle:Template:template.html.twig" %}

{% if eleves|length > 0 %}
    {% set elevesTable %}
    <div id="table_wrapper" class="dataTables_wrapper form-inline" role="grid">
        <table id="table_eleve" class="table table-bordered table-hover dataTable" aria-describedby="table_info">
            <thead>
            <tr>
                <th>{% trans %}personne.picture{% endtrans %}</th>
                <th>{% trans %}personne.name{% endtrans %}</th>
                <th>{% trans %}classe.text{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for eleve in eleves %}
                <tr>
                    <td>
                        <div class="img-crop img-xs" style="background-image:url('{{ asset(eleve.picture) }}')"></div>
                    </td>
                    <td>
                        <a href="{{ path("eklerni_back_eleve_fiche", {idEleve:eleve.id}) }}">{{ eleve.nom ~ " " ~ eleve.prenom }}</a>
                    </td>
                    <td>
                        <a href="{{ path("eklerni_back_classe_fiche", {idClasse:eleve.classe.id}) }}">{{ eleve.classe.nom }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endset %}
{% else %}
    {% set elevesTable %}
    {% trans %}classe.no.eleve{% endtrans %}
    {% endset %}
{% endif %}

{% if enseignant.classes|length > 0 %}
    {% set classesTable %}
    <table class="table" id="profs">
        <tr>
            <th>{% trans %}classe.name{% endtrans %}</th>
            <th>{% trans %}classe.level{% endtrans %}</th>
            <th>{% trans %}classe.eleve.count{% endtrans %}</th>
        </tr>
        {% for classe in enseignant.classes %}
            <tr>
                <td>
                    <a href="{{ path("eklerni_back_classe_fiche", {idClasse:classe.id}) }}">{{ classe.nom }}</a>
                </td>
                <td>
                    {{ classe.niveau }}
                </td>
                <td>
                    {{ classe.eleves|length }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endset %}
{% else %}
    {% set classesTable %}
    {% trans %}enseignant.no.eleve{% endtrans %}
    {% endset %}
{% endif %}


{% set footerclasses %}
<a href="{{ path("eklerni_back_classe_create") }}" id="add_class_link" class="btn btn-danger"><i
            class="fa fa-plus"></i> {% trans %}classe.text{% endtrans %}</a>
{% endset %}

{% if resultats|length > 0 %}
    {% set resultatbody %}
    <table id="lastresult" class="table table-bordered">
        <tr>
            <th>{% trans %}classe.text{% endtrans %}</th>
            <th>{% trans %}personne.lastname{% endtrans %}</th>
            <th>{% trans %}exercice.text{% endtrans %}</th>
            <th class="col-md-6 hidden-sm"></th>
            <th>{% trans %}note.text{% endtrans %}</th>
        </tr>
        {% for resultat in resultats %}
            {% if resultat.note < 25 %}
                {% set typebar = "danger" %}
                {% set typecolor = "red" %}
            {% elseif resultat.note < 50 %}
                {% set typebar = "warning" %}
                {% set typecolor = "orange" %}
            {% elseif resultat.note < 75 %}
                {% set typebar = "primary" %}
                {% set typecolor = "light-blue" %}
            {% else %}
                {% set typebar = "success" %}
                {% set typecolor = "green" %}
            {% endif %}
            <tr>
                <td>
                    <a href="{{ path("eklerni_back_classe_fiche", {idClasse:resultat.eleve.classe.id}) }}">
                        {{ resultat.eleve.classe.nom }}
                    </a>
                </td>
                <td>
                    <a href="{{ path("eklerni_back_eleve_fiche", {idEleve:resultat.eleve.id}) }}">
                        {{ resultat.eleve.prenom }} {{ resultat.eleve.nom }}
                    </a>
                </td>
                <td>
                    <a href="{{ path("eklerni_back_serie_fiche", {idSerie:resultat.serie.id}) }}">
                        {{ resultat.serie.nom }}
                    </a>
                </td>
                <td class="hidden-sm">
                    <div class="progress xs">
                        <div class="progress-bar progress-bar-{{ typebar }}" style="width: {{ resultat.note }}%;"></div>
                    </div>
                </td>
                <td>
                    <span class="badge bg-{{ typecolor }}">{{ resultat.note }}%</span>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endset %}
{% else %}
    {% set resultatbody %}
    {% trans %}result.notfound{% endtrans %}
    {% endset %}
{% endif %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ enseignant.series|length }}</h3>
                    <p>{% trans %}exercices.text{% endtrans %}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-document-text"></i>
                </div>
                <a href="{{ path("eklerni_back_exercice") }}" class="small-box-footer">
                    {% trans %}more.info{% endtrans %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>

        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>&nbsp;</h3>
                    <p>{% trans %}tablet.text{% endtrans %}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ipad"></i>
                </div>
                <a href="{{ path("eklerni_back_tablet") }}" class="small-box-footer">
                    {% trans %}more.info{% endtrans %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>

        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="small-box bg-light-blue">
                <div class="inner">
                    <h3>{{ classes|length }}</h3>
                    <p>{% trans %}classes.text{% endtrans %}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-friends"></i>
                </div>
                <a href="{{ path("eklerni_back_classe") }}" class="small-box-footer">
                    {% trans %}more.info{% endtrans %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ eleves|length }}</h3>
                    <p>{% trans %}eleves.text{% endtrans %}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-contact"></i>
                </div>
                <a href="{{ path("eklerni_back_eleve") }}" class="small-box-footer">
                    {% trans %}more.info{% endtrans %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {% set classList %}
            {% trans %}classe.list{% endtrans %}
            {% endset %}
            {{ eklerni.block(classList, classesTable, footerclasses, "danger") }}
            {% set eleveList %}
            {% trans %}eleve.list{% endtrans %}
            {% endset %}
            {{ eklerni.block(eleveList, elevesTable, "", "primary") }}
        </div>
        <div class="col-sm-8">
            {% set resultList %}
            {% trans %}result.list.last{% endtrans %}
            {% endset %}
            {{ eklerni.block(resultList, resultatbody, "", "primary") }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(function () {
            $('#table_eleve').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bSort": true,
                "bInfo": false,
                "bAutoWidth": false
            });

            var LastDate = new Date();
            setInterval(function(){
                $.ajax({
                    url: "{{ path('eklerni_back_ajax_lastresutlat') }}",
                    type: "POST",
                    dataType:'html',
                    data: { "lastdate" : LastDate.toLocaleString() }
                }).success(function(data) {
                    $("#lastresult").html(data);
                    LastDate = new Date();
                });

            }, 60000);


        });
    </script>
{% endblock %}